# Exercise 1 : Function & Arguments

In [36]:
def fun(a,b=10,c='None'):
    if c=='None':
        print(a+b)
    else:
        print(a*b*c)

fun(a=15,b=5)

20

# Exercise 2 : String Length

In [3]:
def function(*args):
    for i in args:
        if len(i) >= 5:
            print(i)

function('Rahul', 'Sachin', 'Sai', 'Jadeja', 'Gill')

Rahul
Sachin
Jadeja

# Exercise 3 : eval()

In [8]:
eval("3 * 5 + 2")

17

# Exercise 4 : prime filter()

In [20]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

numbers = [10, 15, 3, 7, 20, 19, 23, 30, 31, 40]

prime_numbers = list(filter(is_prime, numbers))

print("Prime numbers:", prime_numbers)

Prime numbers: [3, 7, 19, 23, 31]

# Exrecise 5 : UCASE map()

In [37]:
list1 =['king','kohli','captain','dhoni']
UCASE = list(map(str.upper,list1))

for i in UCASE:
    print(i)

KING
KOHLI
CAPTAIN
DHONI