# LIST

In [2]:
RAND_NO = [8,15,22,6,99]
print("The list is:",RAND_NO)
RAND_NO[5:5]=[11,22,33]
print("The updated list is:",RAND_NO)
for i in RAND_NO:
    print(i)

The list is: [8, 15, 22, 6, 99]
The updated list is: [8, 15, 22, 6, 99, 11, 22, 33]
8
15
22
6
99
11
22
33

# DICTIONARY

In [17]:
CANDIDTATE = {'name':'John', 'age':28, 'address':'New York'}
print('The Dictionary of new candidate is:',CANDIDTATE)
print(type(CANDIDTATE))
CANDIDTATE['phone'] = 1234567890
print('The Dictionary of new candidate after updation is:',CANDIDTATE)

The Dictionary of new candidate is: {'name': 'John', 'age': 28, 'address': 'New York'}
<class 'dict'>
The Dictionary of new candidate after updation is: {'name': 'John', 'age': 28, 'address': 'New York', 'phone': 1234567890}

# SET

In [22]:
SET = {1,2,3,4,5}
print('The set is:',SET)
SET.add(6)
print('The updated set is:',SET)
SET.remove(3)
print('The set after removal is:',SET)

The set is: {1, 2, 3, 4, 5}
The updated set is: {1, 2, 3, 4, 5, 6}
The set after removal is: {1, 2, 4, 5, 6}

# TUPLE

In [28]:
Tuple =(1,2,3,4)
print(type(Tuple))
print(len(Tuple))

<class 'tuple'>
4