EXERCISE 1

In [18]:
print ('Name    :  RAHUL A')
print ('STD NO  :  ME1505')
print ('Mail ID :  rahul.ajithkumar5@gmail.com')

Name    :  RAHUL A
STD NO  :  ME1505
Mail ID :  rahul.ajithkumar5@gmail.com

EXERCISE 2

In [33]:
print("My name is 'RAHUL A'" ) 
print('My STD NO is: \n\t      ME1505')
print("My gmail ID is,\"rahul.ajithkumar5@gmail.com\"")

My name is 'RAHUL A'
My STD NO is:
	      ME1505
My gmail ID is,"rahul.ajithkumar5@gmail.com"

EXERCISE 3

In [40]:
x = int(input("Enter First NO:"))
y = int(input("Enter Second NO:"))

print('SUM        of', x ,'and', y ,'is:', x+y)
print('PRODUCT    of', x ,'and', y ,'is:', x*y)
print('DIFFERENCE of', x ,'and', y ,'is:', x-y)
print('DIVISION   of', x ,'and', y ,'is:', x/y)

Enter First NO: 14
Enter Second NO: 7

SUM        of 14 and 7 is: 21
PRODUCT    of 14 and 7 is: 98
DIFFERENCE of 14 and 7 is: 7
DIVISION   of 14 and 7 is: 2.0

EXERCISE 4

In [51]:
for i in range(1,6):
    print(i)

1
2
3
4
5

EXERCISE 5

In [58]:
print("\"CID\" stands for \"Criminal Investigation Department\", whereas \n\"FBI\" stands for \"Federal Bureau of Investigation.\"")

"CID" stands for "Criminal Investigation Department", whereas
"FBI" stands for "Federal Bureau of Investigation."

EXERCISE 6

In [61]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

EXERCISE 7

In [87]:
num=23
textnum="57"
decimal=98.3

print("Type of num is:",type(num))
print("Type of textnum is:",type(textnum))
print("Type of decimal is:",type(decimal))

sum = num + int(textnum) + float(decimal)
print(sum)
print(type(sum))

Type of num is: <class 'int'>
Type of textnum is: <class 'str'>
Type of decimal is: <class 'float'>
178.3
<class 'float'>

EXERCISE 8

In [95]:
DAYS=365
MINUTES=60
HOURS=24

x=DAYS*MINUTES*HOURS

print('Number of minutes in a year is :', x)

Number of minutes in a year is : 525600

EXERCISE 9

In [78]:
NAME = str(input("Please enter your name :"))
print("Hi", NAME ,"Welcome to the world of PYTHON")

Please enter your name : RAHUL

Hi RAHUL Welcome to the world of PYTHON

EXERCISE 10
POUNDS TO DOLLAR

In [82]:
POUND = int(input("Please enter the amont in POUNDS(£) :"))
print('£',POUND,'in $ is :',POUND*1.26)

Please enter the amont in POUNDS(£) : 44

£ 44 in $ is : 55.44