# Exercise 1
# Month Name

In [8]:
import calendar

month_number = int(input("Enter Month Number:"))
print(f"Month {month_number} is : {calendar.month_name[month_number]}")

Enter Month Number: 12

Month 12 is : December


# Exercise 2 - Ticket Prize distribution

In [23]:
    age = int(input("Enter Your age"))
    if age < 16:
        print("Your ticket costs  £3.00")
    elif age > 60:
        print("Your ticket costs  £2.00") 
    else:
        print("Your ticket costs  £6.00")

Enter Your age 10

Your ticket costs  £3.00

# Exercise 3 
# BODY MASS INDEX

In [29]:
w=float(input("Enter your weight in (kg)"))
h=float(input("Enter your height in (kg)"))
bmi=w/h**2 
if bmi < 18.5:
    print('You are in the “Underweight” range')
elif bmi < 24.9:
    print('You are in the “Normal” range')
elif bmi< 29.9:
    print('You are in the “Overweight” range')
else:
    print('You are in the “Obese” range')

Enter your weight in (kg) 52
Enter your height in (kg) 1.4

You are in the “Overweight” range

# Exercise 4 - Greatest of three

In [36]:
num1 = input("Enter first number")
num2 = input("Enter second number")
num3 = input("Enter third number")

if (num1 >= num2) and (num1 >= num3):
   greatest = num1
elif (num2 >= num1) and (num2 >= num3):
   greatest = num2
else:
   greatest = num3

print("The largest number is", greatest)

Enter first number 15
Enter second number 16
Enter third number 17

The largest number is 17

# Exercise 5 - FACTORIAL

In [48]:
num = int(input("Enter a number"))
fact = 1
if num < 0:
    print("No factorial for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num+1):
        fact=fact*i
    print("The factorial of",num,"is",fact)

Enter a number -1

No factorial for negative numbers

# Exercise 6 - REVERSE of number

In [22]:
n=int(input("enter a number"))
rev=0
while(n>0):
    last=n%10
    rev=rev*10+last
    n=int(n/10)
print(rev)

enter a number 12

21

# Exercise 7 - Multiples of number

In [38]:
x = int(input("Enter your number :"))
count = int(input("Enter number of multiples required :"))
print("First",count,"Multiples of",x,"are :")
for i in range(1,count+1):
    y = x*i
    print(y)

Enter your number : 4
Enter number of multiples required : 3

First 3 Multiples of 4 are :
4
8
12

# Exercise 8 - Break done

In [52]:
while True:
    txt = input("Enter a value")
    if txt == 'done':
        break
    else:
        print(txt)

Enter a value hi

hi

Enter a value bye

bye

Enter a value rahul

rahul

Enter a value done

# Exercise 9 - FizzBuzz

In [44]:
for i in range(1,11):
    if i%15 == 0:
        print('FizzBuzz')
    elif i%3 == 0:
        print('Fizz')
    elif i%5 == 0:
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz

# Exercise 10 - Pattern

In [49]:
n = 5
for i in range(n):
    for j in range(n-i-1,-1,-1):
        print(j+1,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1